*.pdf
.xls
RRJC poster.pdf

Beninca_etal_2008_Nature/report/.Rhistory
.Rproj.user

WARD_etal_2014_Oikos/report/Temp_image0.Rdata

WARD_etal_2014_Oikos/report/Temp_image1.Rdata

WARD_etal_2014_Oikos/report/Ward_et_al_results.RData
